<form>
    <h1>Apagando uma categoria</h1>
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="categoria.nome" type="text"name="nome" disabled> 

    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
            <textarea matInput [(ngModel)]="categoria.descricao" type="text"name="descricao" disabled ></textarea>  

    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()"class="mat-elevation-z8" mat-flat-button color="warn">Deletar</button>
        <button (click)="deleteCancel()"class="mat-elevation-z8" mat-stroked-button color="basic">Cancelar</button>
    </div>

</form>